


<form #nameForm="ngForm" (ngSubmit)="addToEvents(nameForm)">

  <label for="name">Name of Event: </label>

  <input type="text" name="Name" id="name"  ngModel required />
  <br />

  <label for="host">Host of Event: </label>
  <input type="text" name="Host" id="host" ngModel required />
  <br />

  <label for="categoryID">Please choose which category the event is. </label>
  <br />
  <select name="CategoryID" id="categoryID"  ngModel required>
    <option value=1>Cultures & Languages</option>
    <option value=2>Social</option>
    <option value=3>Business</option>
    <option value=4>Religion</option>
    <option value=5>Science</option>
    <option value=6>Health and Support</option>
    <option value=7>Concert & Performances</option>
  </select>
  <br />

  <label for="summary">Summary of Event </label>
  <input type="text" name="Summary" id="summary"ngModel required />
  <br />

  <label for="photo">Link to photo of Event</label>
  <input type="text" name="Photo" id="photo" ngModel required/>
  <br />

  <label for="dateAndTime">Date and Time of Event</label>
  <input type="datetime" name="DateAndTime" id="dateAndTime" ngModel required/>
  <br />

  <label for="guestCount">How many guests can this event hold? </label>
  <input type="number" name="GuestCount" id="guestCount" ngModel required/>
  <br />

  <p>Is this a private event</p>
  <label for="SpotsFilledTrue">Yes</label>
  <input type="radio" id="SpotsFilledTrue" name="SpotsFilled" value="True" ngModel required>


  <label for="SpotsFilledFalse">No</label>
  <input type="radio" id="SpotsFilledFalse" name="SpotsFilled" value="False" ngModel required>
  <br />
  <input type="submit" />
</form>
