a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: black !important;
}
.navbar {
  background-color: #EADEB8 !important;
  color: black !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .075);
}
