/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  background-image: linear-gradient(to bottom right, rgba(234, 222, 184, 1), rgba(207, 183, 132), rgba(160, 159, 87, 0.9));
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.title {
    font-weight: 600 !important;
    font-size: medium !important;
}

.list {
  border-radius: 10px;
  background-color: white;
  padding: 0.55rem;
  box-shadow: 3px 3px 4px -2px #C56824 !important;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

input.ng-valid {
  border-color: #28a745;
}
select.ng-touched.ng-invalid {
  border-color: #dc3545;
}

select.ng-valid {
  border-color: #28a745;
}

.green-icon {
  color: #28a745;
}

.red-icon {
  color: #dc3545;
}
